*.*~
./code/spider_exemple.py
/code/mount_data_drive.sh
/code/data.csv
/code/data_.csv
/code/_data.csv
/code/data_20170925.csv
/code/data/data.csv
/code/data_handler.pyc
/code/grafik.png
/code/send_email.py
/code/scraper_spitogatos.pyc
/code/notifications.pyc
/code/test3.py
/code/data_plot.pyc
/code/data/data_20170928.png
/code/data/data_20170928.csv
/code/data_20170928.csv
